Repository relaunch-community/web-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erb-lint

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    .idea/.*|
    config/database.yml|
    config/credentials/.*.enc
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        # if this becomes unwieldy...
        # ref: https://pre-commit.com/#regular-expressions
        exclude: |
          (?x)^(
            config/database.yml|
            config/credentials/.*.enc
          )$
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: rubocop
        name: standard styleguide must be applied
        exclude: |
          (?x)^(
            config/database.yml|
            config/credentials/.*.enc
          )$
        language: ruby
        files: '.*\.rb$'
        entry: 'bundle exec rubocop -c .rubocop.yml -A'
      - id: erb-lint
        name: standard styleguide must be applied
        language: ruby
        files: '.*\.erb$'
        entry: 'bundle exec erblint -a'

Footer looks much better
  app/views/layouts/_footer.html.erb
  spec/examples.txt
  spec/features/users/login_spec.rb
Due: rubocop, erb-lint

Fix #index value/committment circles
  app/views/pages/index.html.erb
Due: erb-lint

Remove back to personals link
  app/views/user_profile/personals/new.html.erb
Due: erb-lint

Remove test key creds file
  .gitignore
  config/credentials/test.yml.enc
  spec/examples.txt
Due: none

Disallow overwriting existing personal profile
  app/controllers/dashboard_controller.rb
  app/controllers/user_profile/personals_controller.rb
Due: rubocop

Feature/spruce up professional profiles page
  app/views/user_profile/professionals/_professional.html.erb
  config/locales/en.yml
  spec/examples.txt
Due: erb-lint

Feature/add location
  Gemfile
  Gemfile.lock
  app/controllers/physical_locations_controller.rb
  app/javascript/controllers/dynamic_select_controller.js
  app/javascript/controllers/search_params_controller.js
  app/models/physical_location.rb
  app/policies/physical_location_policy.rb
  app/views/physical_locations/_form.html.erb
  app/views/physical_locations/_physical_location.html.erb
  app/views/physical_locations/_physical_location.json.jbuilder
  app/views/physical_locations/_physical_location_fields.erb
  app/views/physical_locations/edit.html.erb
  app/views/physical_locations/index.html.erb
  app/views/physical_locations/index.json.jbuilder
  app/views/physical_locations/new.html.erb
  app/views/physical_locations/show.html.erb
  app/views/physical_locations/show.json.jbuilder
  config/locales/en.yml
  config/routes.rb
  db/migrate/20230719150249_create_physical_locations.rb
  db/schema.rb
  spec/examples.txt
  spec/factories/physical_locations_factory.rb
  spec/models/physical_location_spec.rb
  spec/requests/physical_locations_spec.rb
  spec/routing/physical_locations_routing_spec.rb
  spec/views/physical_locations/edit.html.tailwindcss_spec.rb
  spec/views/physical_locations/new.html.tailwindcss_spec.rb
  spec/views/physical_locations/show.html.tailwindcss_spec.rb
Due: rubocop, erb-lint

Feature/add feature flags with flipper
  .idea/relaunch_community.iml
  Gemfile
  Gemfile.lock
  app/models/user.rb
  config/initializers/flipper_groups.rb
  db/migrate/20230725142117_create_flipper_tables.rb
  db/schema.rb
  lib/features/flipper_features.rb
  spec/examples.txt
  spec/requests/dashboard_spec.rb
  spec/requests/investor/firm_roles_spec.rb
  spec/requests/investor/firms_spec.rb
  spec/requests/user_profile/professionals_spec.rb
Due: rubocop

Feature/add about page
  app/controllers/pages_controller.rb
  app/views/layouts/_nav.html.erb
  app/views/pages/about.html.erb
  config/routes.rb
  public/assets/.keep
  spec/examples.txt
  spec/examples.txt.orig
Due: rubocop, erb-lint

Feature/feature flag for registration
  app/controllers/users/registrations_controller.rb
  app/views/devise/registrations/new.html.erb
  spec/examples.txt
  spec/features/users/registration_spec.rb
Due: rubocop, erb-lint

Feature/fly launch
  DEPLOYMENT.md
  Dockerfile.production
  Gemfile
  Gemfile.lock
  fly.toml
Due: none

Fix z-index/absolute pseudo element on meetup.com link
  .idea/relaunch_community.iml
  app/views/devise/registrations/new.html.erb
Due: erb-lint

Add secret to build production
  .gitlab-ci.yml
Due: none

Set secret to env; build passed local
  .gitlab-ci.yml
  .idea/relaunch_community.iml
Due: none

Hotfix/fly coldstart
  fly.toml
Due: none

Hotfix/consistent wording relaunch community
  CONTRIBUTING.md
  README.md
  app/views/pages/anti_harassment.html.erb
  app/views/pages/code_of_conduct.html.erb
  app/views/pages/privacy_policy.html.erb
  config/locales/layouts/en.yml
  config/locales/pages/en.yml
  db/seeds.rb
Due: rubocop, erb-lint

It may just be an issue with using the cached stages; may have to remove cache-from in gitlab-ci
  .gitlab-ci.yml
  DEPLOYMENT.md
  Dockerfile.production
Due: none

Feature/about formatting
  app/views/layouts/_header.html.erb
  app/views/pages/about.html.erb
  app/views/pages/index.html.erb
  spec/examples.txt
Due: erb-lint

Add linkedin to active/advisors
  app/views/pages/about.html.erb
Due: erb-lint

Switch from fathom to GA; add GA config
  .envrc.example
  app/views/shared/_analytics_resources.html.erb
  config/application.rb
  spec/examples.txt
Due: rubocop, erb-lint

Hotfix: to_json to satisfy the linter was a silly move
  app/views/shared/_analytics_resources.html.erb
Due: erb-lint

Add paper_trail versioning to Founder, Investor, UserProfile, User models
  .gitignore
  Gemfile
  Gemfile.lock
  app/models/founder/firm_role.rb
  app/models/founder/firm_role_version.rb
  app/models/investor/firm.rb
  app/models/investor/firm_role.rb
  app/models/investor/firm_role_version.rb
  app/models/investor/firm_version.rb
  app/models/user.rb
  app/models/user_profile/personal.rb
  app/models/user_profile/personal_version.rb
  app/models/user_profile/professional.rb
  app/models/user_profile/professional_version.rb
  app/models/user_version.rb
  app/views/user_profile/professionals/_professional.html.erb
  db/migrate/20230225180852_devise_create_users.rb
  db/migrate/20230630162010_create_personals_user_profiles.rb
  db/migrate/20230802212356_create_founder_firm_roles.rb
  db/migrate/20230807155429_create_founder_firm_role_versions.rb
  db/migrate/20230807160317_create_investor_firm_versions.rb
  db/migrate/20230807160614_create_investor_firm_role_versions.rb
  db/migrate/20230807160902_create_user_profile_personal_versions.rb
  db/migrate/20230808154218_create_user_profile_professional_versions.rb
  db/migrate/20230808163156_create_user_versions.rb
  db/schema.rb
  db/seeds.rb
  spec/examples.txt
  spec/factories/founder/firm_roles_factory.rb
  spec/factories/founder/firms_factory.rb
  spec/models/founder/firm_role_spec.rb
  spec/models/founder/firm_spec.rb
  spec/models/investor/firm_role_spec.rb
  spec/models/investor/firm_spec.rb
  spec/models/user_profile/personal_spec.rb
  spec/models/user_profile/professional_spec.rb
  spec/models/user_spec.rb
Due: rubocop, erb-lint

Feature/switch to uuid
  app/controllers/physical_locations_controller.rb
  app/controllers/user_profile/professionals_controller.rb
  app/models/founder/firm.rb
  app/models/founder/firm_role.rb
  app/models/investor/firm.rb
  app/models/investor/firm_role.rb
  app/models/physical_location.rb
  app/models/user_profile/personal.rb
  app/models/user_profile/personal_version.rb
  app/models/user_profile/professional.rb
  app/models/user_profile/professional_version.rb
  db/migrate/20230313212637_create_professionals_user_profiles.rb
  db/migrate/20230628160631_add_hash_id_to_professionals_user_profiles.rb
  db/migrate/20230630162010_create_personals_user_profiles.rb
  db/migrate/20230719150249_create_physical_locations.rb
  db/migrate/20230720153036_create_investor_firms.rb
  db/migrate/20230720154121_create_investor_firm_roles.rb
  db/migrate/20230802203347_create_founder_firms.rb
  db/migrate/20230802212356_create_founder_firm_roles.rb
  db/migrate/20230804161523_add_professional_profile_id_to_investor_firms.rb
  db/migrate/20230807160902_create_user_profile_personal_versions.rb
  db/migrate/20230808154218_create_user_profile_professional_versions.rb
  db/schema.rb
  spec/examples.txt
  spec/factories/user_profile/personals_factory.rb
  spec/models/founder/firm_role_spec.rb
  spec/models/founder/firm_spec.rb
  spec/models/investor/firm_role_spec.rb
  spec/models/investor/firm_spec.rb
  spec/models/physical_location_spec.rb
  spec/models/user_profile/personal_spec.rb
  spec/models/user_profile/professional_spec.rb
Due: rubocop

Founder::Firm review statemachine
  .idea/relaunch_community.iml
  Gemfile
  Gemfile.lock
  app/controllers/founder/firms_controller.rb
  app/models/founder/firm.rb
  spec/examples.txt
  spec/factories/founder/firms_factory.rb
Due: rubocop

Add dashboard layout, nav, etc. Basically everything but a... dashboard...
  app/assets/stylesheets/application.tailwind.css
  app/controllers/dashboard_controller.rb
  app/controllers/user_profile/personals_controller.rb
  app/helpers/application_helper.rb
  app/javascript/controllers/menu_nav_controller.js
  app/models/user_profile/professional.rb
  app/policies/dashboard_policy.rb
  app/views/dashboard/coming_soon.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_nav.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/dashboard.html.erb
  app/views/user_profile/personals/_form.html.erb
  app/views/user_profile/personals/edit.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/examples.txt
Due: rubocop, erb-lint

Implement reCAPTCHA
  .envrc.example
  .gitlab-ci.yml
  .idea/relaunch_community.iml
  CONTRIBUTING.md
  Dockerfile.production
  Gemfile
  Gemfile.lock
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/views/devise/passwords/new.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  config/initializers/flipper_features.rb
  config/locales/en.yml
  lib/features/flipper_features.rb
  spec/examples.txt
Due: rubocop, erb-lint

Update Flipper control of captcha for dev; update default nav highlight
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/views/layouts/_nav.html.erb
  config/initializers/flipper_monkeypatch.rb
Due: rubocop, erb-lint
